<div class="col-md-3">
    <!--display:none/block bindingolható lesz, ha valamelyik aloldal rejtené-->
    <ul class="nav nav-pills nav-stacked">
        <li class="">
            <a href="#">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span data-bind="text: parentTypeName, attr: { href: parentTypeHash }"></span>
            </a>
        </li>

        <li class="active">
            <a href="#" data-bind="text: activeTypeName, attr: { href:  activeTypeHash }"></a>
        </li>

        <li>
            <a>
                <span class="text-warning" data-bind="click: newProd"> Admin: Create New Product In Type</span>
            </a>
        </li>

        <li>
            <a>
                <span class="text-warning" data-bind="click: newType"> Admin: Create New SubType </span>
            </a>
        </li>


        <!-- ko foreach: childTypes -->

        <li class="">
            <a data-bind="attr: { href: hash }">
                <!-- visible: isAdmin -->
                <span class="glyphicon glyphicon-wrench" data-bind="click: $root.modifyType, visible: $root.isAdmin"></span>
                <span class="glyphicon glyphicon-remove" data-bind="click: $root.deleteType, visible: $root.isAdmin"></span>

                <span class="glyphicon glyphicon-chevron-right"></span>

                <span data-bind="text: typeName"></span>
            </a>
        </li>

        <!-- /ko -->

    </ul>

</div>