<div>

    <button data-bind="visible: isTestMode, click: generateTestProducts">genTesztProducts</button>
    <h1 data-bind="text: displayName"></h1>


    <!-- Products - thumbnails -->
    <div data-bind="foreach: Products">

        <div class="col-sm-6 col-md-4">

            <div class="col-sm-3 col-md-2" style="min-width:200px;">
                <a href="#" class="thumbnail" data-bind="attr: { href: URLPath }">
                    <img src="" alt="" data-bind="attr: {src: smallImg, alt: caption}" class="img-responsive img-rounded" />
                </a>
            </div>

            <div class="col-sm-3 col-md-2" style="min-width:150px;" >
                <div class="caption">
                    <h3 data-bind="text: productName">Product Name</h3>

                    <div data-bind="text: caption"></div>

                    <span data-bind="text: displayPrice"></span>:
                    <span data-bind="text: price"></span> <br />

                    <span data-bind="text: displayDiscountPrice"></span>:
                    <strong data-bind="text: discountPrice"></strong>


                    <p>
                        <a href="#" class="btn btn-primary" role="button" data-bind="text: $parent.displayToCart, click: $parent.addToChart"></a>
                    </p>
                </div>
            </div>
        </div>


        <!--<div class="col-md-2 col-sm-3 column productbox">

            <img data-bind="attr: {src: smallImg, alt: caption}" class="img-responsive img-rounded" />

            <div class="producttitle" data-bind="text: productName" >Product Name</div>
            <div class="productprice">
                <div class="pull-right">
                    <a href="#" class="btn btn-primary" role="button" data-bind="text: $parent.displayToCart, click: $parent.addToChart"></a>
                </div>
                <div class="pricetext">£8.95</div>
            </div>
        </div>-->

    </div>
</div>