<div>
    <h2>Page Not Find (404)</h2>

    <blockquote>
        <p>
            Rizsa a problémáról...
        </p>

        <p>
            Hibamegoldási javaslatok:
            <ul>
                <li>
                    <i class="fa fa-info-circle"></i>
                    Egyen több almát, ezzel nem csak a 404-es hibákat, de a fogorvosokat is elkerülheti.
                </li>
            </ul>
        </p>
    </blockquote>

    <blockquote>
        <p>
            <a href="#">Kezdje újra a navigációt főoldalunkról</a>
        </p>

        <p>
            Amennyiben a hiba továbbiakban is fennáll vegye fel a kapcsolatot supportunkkal:
            <a href="mailto:someone@example.com?Subject=404_error" target="_top">someone@example.com</a>
        </p>
    </blockquote>

</div>
